<!-- <mat-card class="example-card"> -->
<mat-card-title>Finance details</mat-card-title>

<!-- <mat-card-content> -->
<form class="example-form" [formGroup]="finadd" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>User Name</mat-label>
    <input matInput formControlName="client_name" required>
    <mat-error class="error-messege" *ngIf="f.get('client_name')?.hasError('required') &&
             (f.get('client_name')?.dirty || f.get('client_name')?.touched)">
      Client name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Mobile No</mat-label>
    <input type="number" matInput formControlName="mobile_no" required>
    <mat-error class="error-messege" *ngIf="f.get('mobile_no')?.hasError('required') &&
            (f.get('mobile_no')?.dirty || f.get('mobile_no')?.touched)">
      Mobile no. is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Mail address</mat-label>
    <input type="email" matInput formControlName="mail_address" required>
    <mat-error class="error-messege" *ngIf="
                                      f.get('mail_address')?.hasError('required') &&
                                      (f.get('mail_address')?.dirty || f.get('mail_address')?.touched)
                                    ">
      Mail address is required
    </mat-error>
  </mat-form-field>



  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Address</mat-label>
    <textarea matInput formControlName="address" required></textarea>
    <mat-error class="error-messege" *ngIf="
                                      f.get('address')?.hasError('required') &&
                                      (f.get('address')?.dirty || f.get('address')?.touched)
                                    ">
      Address is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Area</mat-label>
    <input matInput formControlName="area" required>
    <mat-error class="error-messege" *ngIf="
                                      f.get('area')?.hasError('required') &&
                                      (f.get('area')?.dirty || f.get('area')?.touched)
                                    ">
      Area is required
    </mat-error>
  </mat-form-field>

  <!-- <mat-form-field class="example-full-width" appearance="fill">
    <input matInput="hidden" formControlName="attend" value="false">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Attend</mat-label>
    <mat-select formControlName="attend">
      <mat-option value="Yes">Yes </mat-option>
      <mat-option value="No">No</mat-option>
    </mat-select>
  </mat-form-field> -->

  <!-- <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>follow up date</mat-label>
                <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" formControlName="follow_up_date">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
              </mat-form-field> -->

  <button mat-raised-button color="primary" type="submit" [disabled]="btnclk">{{btnsave}}</button>

</form>

<!-- </mat-card-content> -->

<!-- </mat-card> -->