table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 10%;
  }

.container {
      display: inline-block;
      margin: 15px;
      padding: 15px;
      border: 1px solid black;
    }
  